<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon DashBoard</title>
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="icon" type="image/webp" href="favicon/pokemonlogo.webp">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Pokémon Dashboard">
    <meta property="og:description"
        content="Explore Pokémon stats, abilities, and more with this interactive dashboard!">
    <meta property="og:image" content="favicon/pokemonlogo.webp">
    <meta property="og:type" content="website">

    <!-- Twitter Card (Optional) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Pokémon Dashboard">
    <meta name="twitter:description"
        content="Explore Pokémon stats, abilities, and more with this interactive dashboard!">
    <meta name="twitter:image" content="favicon/pokemonlogo.webp">

    <link rel="stylesheet" href="css/multi-select-tag.css">
    <link rel="stylesheet" href="css/index.css">

    <script async defer src="js/index.js"></script>
    <script async defer src="js/multi-select-tag.js"></script>

</head>

<body>
    <div class="content-wrapper">
        <nav class="side_nav">
            <div class="side_nav_logo"></div>
            <input type="text" placeholder="Search" class="search_nav" data-search_nav="">


            <select name="pokemon_types" id="pokemon_types" class="pokemon_types" multiple style="width: 85%;">
                <option value="Normal">Normal</option>
                <option value="Fire">Fire</option>
                <option value="Water">Water</option>
                <option value="Electric">Electric</option>
                <option value="Grass">Grass</option>
                <option value="Ice">Ice</option>
                <option value="Fighting">Fighting</option>
                <option value="Poison">Poison</option>
                <option value="Ground">Ground</option>
                <option value="Flying">Flying</option>
                <option value="Psychic">Psychic</option>
                <option value="Bug">Bug</option>
                <option value="Rock">Rock</option>
                <option value="Ghost">Ghost</option>
                <option value="Dragon">Dragon</option>
                <option value="Dark">Dark</option>
                <option value="Steel">Steel</option>
                <option value="Fairy">Fairy</option>
            </select>

            <div>🏠 Home</div>
            <hr>
            <div>📖 Pokémon List</div>
            <hr>
            <div>📖 Pokémon DashBoard</div>
            <hr>
            <div>⚔️ Battle Simulator</div>
        </nav>
        <div class="dashboard-content">
            <div class="arcticle">

                <div class="pokemon_header">
                </div>
                <div class="pokemon_list">
                    {% block pokemon_item %}

                    {% endblock %}
                </div>
                <div class="pokemon_overview">

                    <div class="pokemon_overview_flex">

                        <div class="pokemon_over_intro divider">
                            <img class="pokemon_profile" src="pokemon_sprites/0006 Charizard Gigantamax.png"
                                alt="">
                            <div class="pokemon_overview_name">

                            </div>
                            <div class="pokemon_overview_description">

                            </div>
                            <div class="pokemon_overview_primary_type">

                            </div>
                            <div class="pokemon_overview_secondary_type">

                            </div>
                        </div>

                        <div class="pokemon_class divider">
                            
                            <hr class="hr1">
                            <hr class="hr2">
                            <hr class="hr3">
                            <hr class="hr4">

                            <div class="pokemon_overview_classification"> </div>
                            <div class="pokemon_overview_generation"></div>
                            <div class="pokemon_overview_is_sublegendary"></div>
                            <div class="pokemon_overview_is_legendary"></div>
                            <div class="pokemon_overview_is_mythical"></div>

                            <div class="pokemon_over_label label_classification">classification</div>
                            <div class="pokemon_over_label label_generation">generation</div>
                            <div class="pokemon_over_label label_is_sublegendary">sublegendary</div>
                            <div class="pokemon_over_label label_is_legendary">legendary</div>
                            <div class="pokemon_over_label label_is_mythical">mythical</div>
                        </div>

                        <div class="pokemon_over_base divider">
                            <div class="pokemon_overview_title">
                                
                            </div>
                            
                            <hr class="hr1">
                            <hr class="hr2">
                            <hr class="hr3">
                            <hr class="hr4">
                            <hr class="hr5">
                            <hr class="hr6">
                            <hr class="hr7">

                            <div class="pokemon_over_label label_attack">Attack</div>
                            <div class="pokemon_over_label label_defense">Defense</div>
                            <div class="pokemon_over_label label_hp">HP</div>
                            <div class="pokemon_over_label label_spatk">Sp. Atk.</div>
                            <div class="pokemon_over_label label_spdef">Sp. Def.</div>
                            <div class="pokemon_over_label label_speed">Speed</div>
                            <div class="pokemon_over_label label_total">Total</div>

                            <div class="pokemon_overview_atk"></div>
                            <div class="pokemon_overview_def"></div>
                            <div class="pokemon_overview_hp"></div>
                            <div class="pokemon_overview_sp_atk"></div>
                            <div class="pokemon_overview_sp_def"></div>
                            <div class="pokemon_overview_spd"></div>
                            <div class="pokemon_overview_total"></div>

                            <img src="/static/pokemon_sprites/0282 Gardevoir Mega.png" alt=""
                                class="pokemon_overview_hexagon">
                        </div>

                        <div class="pokemon_stats_extra divider">
                            <hr class="hr1">
                            <hr class="hr2">
                            <hr class="hr3">
                            <hr class="hr4">
                            <hr class="hr5">
                            <!-- Percent Male -->
                            <div class="pokemon_over_label label_percent_male">Percent Male</div>
                            <div class="pokemon_overview_percent_male"></div>

                            <!-- Percent Female -->
                            <div class="pokemon_over_label label_percent_female">Percent Female</div>
                            <div class="pokemon_overview_percent_female"></div>

                            <!-- Height -->
                            <div class="pokemon_over_label label_height_m">Height (m)</div>
                            <div class="pokemon_overview_height_m"></div>

                            <!-- Weight -->
                            <div class="pokemon_over_label label_weight_kg">Weight (kg)</div>
                            <div class="pokemon_overview_weight_kg"></div>

                            <!-- Capture Rate -->
                            <div class="pokemon_over_label label_capture_rate">Capture Rate</div>
                            <div class="pokemon_overview_capture_rate"></div>

                            <!-- Base Egg Steps -->
                            <div class="pokemon_over_label label_base_egg_steps">Base Egg Steps</div>
                            <div class="pokemon_overview_base_egg_steps"></div>
                        </div>

                        <div class="pokemon_abilities divider">

                            <div class="pokemon_overview_title">
                                Abilities
                            </div>

                            <hr class="hr1">
                            <hr class="hr2">
                            <hr class="hr3">

                            <!-- Ability 0 -->
                            <div class="pokemon_over_label label_abilities_0">Ability 0</div>
                            <div class="pokemon_overview_abilities_0"></div>

                            <!-- Ability 1 -->
                            <div class="pokemon_over_label label_abilities_1">Ability 1</div>
                            <div class="pokemon_overview_abilities_1"></div>

                            <!-- Ability 2 -->
                            <div class="pokemon_over_label label_abilities_2">Ability 2</div>
                            <div class="pokemon_overview_abilities_2"></div>

                            <!-- Hidden Ability -->
                            <div class="pokemon_over_label label_abilities_hidden">Hidden Ability</div>
                            <div class="pokemon_overview_abilities_hidden"></div>
                        </div>
                        <div class="pokemon_evochain divider">

                            <div class="pokemon_overview_title">
                                Evolution Chain
                            </div>
                            

                            <hr class="hr1">
                            <hr class="hr2">
                            <hr class="hr3">
                            <hr class="hr4">
                            <hr class="hr5">
                            <hr class="hr6">

                            <div class="pokemon_over_label label_evochain_0">Evolution Stage 0</div>
                            <div class="pokemon_overview_evochain_0"></div>

                            <div class="pokemon_over_label label_evochain_1">Evolution Stage 1</div>
                            <div class="pokemon_overview_evochain_1"></div>

                            <div class="pokemon_over_label label_evochain_2">Evolution Stage 2</div>
                            <div class="pokemon_overview_evochain_2"></div>

                            <div class="pokemon_over_label label_evochain_3">Evolution Stage 3</div>
                            <div class="pokemon_overview_evochain_3"></div>

                            <div class="pokemon_over_label label_evochain_4">Evolution Stage 4</div>
                            <div class="pokemon_overview_evochain_4"></div>

                            <div class="pokemon_over_label label_evochain_5">Evolution Stage 5</div>
                            <div class="pokemon_overview_evochain_5"></div>

                            <div class="pokemon_over_label label_evochain_6">Evolution Stage 6</div>
                            <div class="pokemon_overview_evochain_6"></div>
                        </div>
                        <div class="pokemon_type_resistances divider">

                            <div class="pokemon_overview_title">
                                Type Resistances
                            </div>

                            <hr class="hr1">
                            <hr class="hr2">
                            <hr class="hr3">
                            <hr class="hr4">
                            <hr class="hr5">
                            <hr class="hr6">
                            <hr class="hr7">
                            <hr class="hr8">
                            <hr class="hr9">

                            <div class="pokemon_over_label label_against_normal">Normal</div>
                            <div class="pokemon_overview_against_normal"></div>

                            <div class="pokemon_over_label label_against_fire">Fire</div>
                            <div class="pokemon_overview_against_fire"></div>

                            <div class="pokemon_over_label label_against_water">Water</div>
                            <div class="pokemon_overview_against_water"></div>

                            <div class="pokemon_over_label label_against_electric">Electric</div>
                            <div class="pokemon_overview_against_electric"></div>

                            <div class="pokemon_over_label label_against_grass">Grass</div>
                            <div class="pokemon_overview_against_grass"></div>

                            <div class="pokemon_over_label label_against_ice">Ice</div>
                            <div class="pokemon_overview_against_ice"></div>

                            <div class="pokemon_over_label label_against_fighting">Fighting</div>
                            <div class="pokemon_overview_against_fighting"></div>

                            <div class="pokemon_over_label label_against_poison">Poison</div>
                            <div class="pokemon_overview_against_poison"></div>

                            <div class="pokemon_over_label label_against_ground">Ground</div>
                            <div class="pokemon_overview_against_ground"></div>

                            <div class="pokemon_over_label label_against_flying">Flying</div>
                            <div class="pokemon_overview_against_flying"></div>

                            <div class="pokemon_over_label label_against_psychic">Psychic</div>
                            <div class="pokemon_overview_against_psychic"></div>

                            <div class="pokemon_over_label label_against_bug">Bug</div>
                            <div class="pokemon_overview_against_bug"></div>

                            <div class="pokemon_over_label label_against_rock">Rock</div>
                            <div class="pokemon_overview_against_rock"></div>

                            <div class="pokemon_over_label label_against_ghost">Ghost</div>
                            <div class="pokemon_overview_against_ghost"></div>

                            <div class="pokemon_over_label label_against_dragon">Dragon</div>
                            <div class="pokemon_overview_against_dragon"></div>

                            <div class="pokemon_over_label label_against_dark">Dark</div>
                            <div class="pokemon_overview_against_dark"></div>

                            <div class="pokemon_over_label label_against_steel">Steel</div>
                            <div class="pokemon_overview_against_steel"></div>

                            <div class="pokemon_over_label label_against_fairy">Fairy</div>
                            <div class="pokemon_overview_against_fairy"></div>
                        </div>
                        <div class="pokemon_special_forms divider">

                            <div class="pokemon_overview_title">
                                Special Forms
                            </div>
                            
                            <hr class="hr1">
                            <hr class="hr2">
                            <hr class="hr3">

                            <div class="pokemon_over_label label_gigantamax">Gigantamax</div>
                            <div class="pokemon_overview_gigantamax"></div>

                            <div class="pokemon_over_label label_mega_evolution">Mega Evolution</div>
                            <div class="pokemon_overview_mega_evolution"></div>

                            <div class="pokemon_over_label label_mega_evolution_alt">Mega Evolution (Alt)</div>
                            <div class="pokemon_overview_mega_evolution_alt"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>