<!DOCTYPE html>
<html lang="en">

<head>
    
    <title>Pokemon DashBoard</title>

    <!-- Favicon -->
    <link rel="icon" type="image/webp" href="favicon/pokemonlogo.webp">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Pokémon Dashboard">
    <meta property="og:description"
        content="Explore Pokémon stats, abilities, and more with this interactive dashboard!">
    <meta property="og:image" content="favicon/pokemonlogo.webp">
    <meta property="og:type" content="website">

    <!-- Twitter Card (Optional) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Pokémon Dashboard">
    <meta name="twitter:description"
        content="Explore Pokémon stats, abilities, and more with this interactive dashboard!">
    <meta name="twitter:image" content="favicon/pokemonlogo.webp">

    <link rel="stylesheet" href="css/intro.css">
    <script async defer src="js/intro.js"></script>
</head>

<body>
    <div class="content-wrapper">
        <div class="dashboard-content">
            <div class="arcticle">
                <div class="home">
                    <section class="header-banner">
                        <h1>Welcome&nbsp;to the&nbsp;Pokémon Dashboard!⚡</h1>
                        <p>
                            Explore Pokémon stats, abilities, and battle strategies.

                        </p>
                        <a href ="./dashboard"><button class="explore-btn">Start Exploring</button></a>
                    </section>

                    <section class="home-features">
                        <div class="feature-card">
                            <img src="pokemon_intro/ballz.png" alt="Pokédex">
                            <h3>Pokédex</h3>
                            <p>Browse all Pokémon and their stats.</p>
                        </div>

                        <div class="feature-card">
                            <img src="pokemon_intro/lightning.jpg" alt="Types">
                            <h3>Types</h3>
                            <p>Check Pokémon type effectiveness.</p>
                        </div>

                        <div class="feature-card">
                            <img src="pokemon_intro/pokeball.jpg " alt="Battle">
                            <h3>Battle Simulator</h3>
                            <p>Compare Pokémon stats and plan battles.</p>
                        </div>
                    </section>
                </div>
               
                
            </div>
        </div>
    </div>
</body>

</html>